.bg-is{
    &--yellow {
        background-color: $yellow;
    }
    &--blue {
        background-color: $blue;
    }
    &--pastelgrey {
        background-color: $pastelgrey;
    }
    &--orange {
        background-color: $orange;
    }
}