
.text-is--yellow {
    color: $yellow;
}

.text-is--pastelgrey {
    color: $pastelgrey;
}

.text-is--orange {
    color: $orange;
}

.text-is--cyan {
    color: $cyan;
}

.small-text {
    font-size: 12px;
}

.lighter-text {
    font-weight: 400;
}

.heavier-text {
    font-weight: 900;
}